@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.startText{
    font-weight:normal!important;
    font-family: "Rubik", sans-serif!important;
    font-size: 70px;
    color: white;
}

.buttonC:hover{
    color: white;
    background-color: #1db18f!important;
}