@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.textStyle{
    font-family: "Rubik", sans-serif!important;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.startButton:hover{
    background-color: #1db18f!important;
    color: white!important;
}